.container img
{
    width: 3050px;
    height: 1300px;
    position:relative;
    
}
.container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main
{
    width: 750px;
    height: 1100px;
    border: 1px solid rgb(159, 159, 159);
    position:absolute;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    align-items: center;
    
    
}
.main img
{
    width:750px;
    height:350px;
    border-radius: 40px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.main h1
{
    font-size:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(47, 47, 47);
}
.content
{
    font-size: 30px;
    color:grey;
}
.annualplan
{
    width: 500px;
    height:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 20px;
    background-color: #D6E1FF;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center ;
}
.musicicon
{
    margin-top: 70px;
    color: rgb(47, 47, 47);
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.textplan
{
    
    size: 50px;
    font-size: 40px;
    margin-top: 40px;
    height: 40px;
    margin-right: 90px;
}
.cancle
{
    font-size: 30px;
    height: 30px;
    margin-top: 70px;
    color: blue;
}
.doller
{
    font-size: 40px;
    color: grey;
}
.cancle:hover
{
    color: blueviolet;
    font-size: 33px;
}
.payment
{
    
    height:70px;
    width: 500px;
    margin-top:250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #3d2de3;
    border-radius: 20px;
}
.payment h1
{
    font-size: 30px;
    color: white;
}
.payment:hover
{
    width: 520px;
    height: 72px;
    background-color: rgb(108, 32, 178);
}
.cancelorder
{
    
    margin-top: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 30px;
    color: grey;
}
.cancelorder:hover
{
    color: black;
    font-size: 35px;
    
}